.layout{
    max-width: auto;
    margin: auto;
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: lightblue; 
    text-align: center;
}

#splitPage{
    display: flex;
}

.splitChild{
    flex: 1;
}
.nav-bar{
    background-color:cornflowerblue;
    overflow: hidden;
}

.nav-bar a{
    float: left;
    color: black;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 8px;
    font-size: 20px;
}

.nav-bar a:hover, .dropdown:hover .drpbtn{
    background-color: ivory;
}
.nav-bar a.active{
    background-color: white;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .drpbtn{
    background-color: transparent;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    border: none;
}

.drpcontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.drpcontent a{
    float: none;
    text-decoration: none;
    text-align: left;
    padding: 8px;
    display: block;
}

.drpcontent a:hover{
    background-color: lightgrey;
}

.dropdown:hover .drpcontent{
    display: block;
}

.selfie{
    width: 60%
}

footer{
    position: fixed;
    bottom: 0;
    background-color: cornflowerblue;
    width: 100%;
}
.footerClass{
    padding: 3px;
}